<!-- <ion-view view-title="{{chat.name}}"> -->
<ion-view view-title="Work Log ">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <ion-list>
            <div class="filter-menu" ng-repeat="group in issuesToLog | orderBy: 'title'">
                <ion-item ng-click="toggleGroupParent(group)" ng-class="{active: isGroupShownParent(group)}">
                    <i class="icon " ng-class="isGroupShownParent(group) ? 'ion-minus' : 'ion-plus'"></i> &nbsp; {{group.title}}
                </ion-item>
                <div class="ion-checkbox-viewport">
                    <div ng-repeat="issue in group.issues" ng-show="isGroupShownParent(group)">
                        <ion-item class="item-stable element-relative" ng-click="toggleGroup(issue)" ng-class="{active: isIssueShow(issue)}">
                            <i class="icon" ng-class="isIssueShow(issue) ? 'ion-chevron-up' : 'ion-chevron-down'"></i> &nbsp;
                            <i class="ion-bug"></i>&nbsp; {{issue.key}} ({{issue.timeTracking.originalEstimate}})
                            <button class="button button-small button-balanced icon-left ion-paper-airplane btn-log" ng-click='saveWorklog(issue)'>Save</button>
                            <span class="badge badge-energized work-logged ">{{issue.timeTracking.timeSpent}}</span>
                            <span class="badge badge-assertive work-available">{{issue.timeLoggedLabel}}</span>
                        </ion-item>
                        <ion-item class="item-accordion" ng-show="isIssueShow(issue)">
                            <div class="button-bar">
                                <a class="button button-energized btn-space" ng-click="updateTimeLogged(issue,900)">15m</a>
                                <a class="button button-energized btn-space" ng-click='updateTimeLogged(issue,3600)'>1h</a>
                                <a class="button button-energized btn-space" ng-click='updateTimeLogged(issue,14400)'>4h</a>
                                <a class="button button-assertive btn-space" ng-click='updateTimeLogged(issue,-3600)'>(-)1h</a>
                                <a class="button button-assertive btn-space" ng-click='updateTimeLogged(issue,-900)'>(-)15m</a>
                            </div>
                        </ion-item>
                    </div>
                    <!--  <ion-checkbox ng-repeat="filter in group.issues | orderBy: 'key'" class="item-accordion" value="{{filter.key}}" ng-model="filter.checked" ng-change="ModifyFilter(filter)" ng-show="isGroupShown(group)">
                        {{filter.key}}
                    </ion-checkbox> -->

                </div>
            </div>
            <!-- 
            <div ng-repeat="issue in issues">
                <ion-item class="item-stable element-relative" ng-click="toggleGroup(issue)" ng-class="{active: isGroupShown(issue)}">
                    <i class="icon" ng-class="isGroupShown(issue) ? 'ion-chevron-up' : 'ion-chevron-down'"></i> &nbsp;
                    <i class="ion-bug"></i>&nbsp; {{issue.key}}
                    <button class="button button-small button-balanced icon-left ion-paper-airplane btn-log">Save</button>
                    <span class="badge badge-energized work-logged ">{{issue.timeLoggedLabel}}</span>
                    <span class="badge badge-assertive work-available">{{issue.timeSpent}}</span>
                </ion-item>
                <ion-item class="item-accordion" ng-show="isGroupShown(issue)">
                    <div class="button-bar">
                        <a class="button button-energized btn-space" ng-click="updateTimeLogged(issue,900)">15m</a>
                        <a class="button button-energized btn-space" ng-click='updateTimeLogged(issue,3600)'>1h</a>
                        <a class="button button-energized btn-space" ng-click='updateTimeLogged(issue,14400)'>4h</a>
                        <a class="button button-assertive btn-space" ng-click='updateTimeLogged(issue,-3600)'>(-)1h</a>
                        <a class="button button-assertive btn-space" ng-click='updateTimeLogged(issue,-900)'>(-)15m</a>
                    </div>
                </ion-item>
            </div> -->
        </ion-list>
        <!-- <img ng-src="{{chat.face}}" style="width: 64px; height: 64px">
        <p>
            {{chat.lastText}}
        </p> -->
    </ion-content>
</ion-view>