<ion-view title="Metrical Issue Setting">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
  </ion-nav-buttons>
  <ion-content padding="true">

    <list-modal placeholder='Select Project' key-value='key' valuetext='metricalIssueSettings.project.name' list-data='projects'
      label='Project' item-selected='metricalIssueSettings.project' action-load='loadSprint(item)'></list-modal>
    <list-modal placeholder='Select Sprint' valuetext='metricalIssueSettings.sprint.name' list-data='sprintsByProjects' label='Sprint'
      item-selected='metricalIssueSettings.sprint' action-load='setSprintSelected(item)'></list-modal>
    <label class="item item-input item-stacked-label">
    <span class="input-label">Total Time in Team</span>
    <input type="text" ng-model='metricalIssueSettings.totalTimeTeam' placeholder="Please enter the total time">
  </label>
  </ion-content>


</ion-view>