<ion-view view-title="Innsa Timesheet" ng-init='init()'>
    <ion-content>
        <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="worklog in worksLogs" type="item-text-wrap" href="#/tab/timesheet/{{worklog.key}}">
                <img ng-src="{{worklog.userAvatar}}">
                <h2>{{worklog.dayNumber}}</h2>
                <p>{{worklog.date}}</p>
                <span class="badge badge-assertive badge-logwork" ng-class="{true:'badge-assertive', false:'badge-balanced'}[worklog.timeSpentSeconds < 21600]">{{worklog.totalWorkLogged}}</span>
                <i class="icon ion-chevron-right icon-accessory"></i>
                <ion-option-button class="button-assertive" ng-cldick="remove(worklog)">
                    Delete
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
