<ion-view title="Timesheet Detail">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
    </ion-nav-buttons>
    <ion-content>
        <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="worklog in worksLogs" type="item-text-wrap">
                <img ng-src="{{worklog.userAvatar}}">
                <h2>Day : {{worklog.dayNumber}} - {{worklog.dayName}}</h2>
                <p>{{worklog.date}}</p>
                <span class="badge badge-assertive badge-logwork" ng-class="{true:'badge-assertive', false:'badge-balanced'}[worklog.timeSpentSeconds < 21600]">{{worklog.totaTimeRegister}}</span>
                <i class="icon ion-chevron-right icon-accessory"></i>
                <ion-option-button class="button-assertive" ng-cldick="remove(worklog)">
                    Delete
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>